{{#mapbox-gl class='map-container' initOptions=(hash pitch=30) mapLoaded=(action 'allPoints') as |map|}}
  {{map.on 'click' this.mapClicked}}
  {{#map.source options=(hash type='geojson' data=(mut this.markers)) as |source|}}
    {{source.layer layer=(hash
        type='circle'
        paint=(hash circle-color='#007cbf' circle-radius=10)
    )}}
    {{source.layer layer=(hash
        type='symbol'
        layout=(hash text-field=(array 'get' 'title')
        text-offset= (array 0 1.25) text-anchor='top')
    )}}
  {{/map.source}}
  {{#if this.showPopup}}
    {{#map.popup onClose=(action 'closePopup') lngLat=(array this.coordinates.lng this.coordinates.lat)}}
      <form>
        <h4>Add Point</h4>
        <div class="form-group mb-2">
          {{input class="form-control" controlType="name" value=this.pointFields.name placeholder="Name" property="pointFields.name"}}
        </div>

        <button type="submit" class="btn btn-primary" {{action "submit"}}>Add</button>
        <button type="button" class="btn btn-danger" {{action 'closePopup'}}>Cancel</button>
      </form>
    {{/map.popup}}
  {{/if}}

{{/mapbox-gl}}

{{#if this.points}}
  <Points @points={{this.points}} @updatePoints={{this.updatePoints}} />
{{/if}}