{{#mapbox-gl class='map-container' initOptions=(hash pitch=30) mapLoaded=(action 'allPoints') as |map|}}
  {{map.on 'click' this.mapClicked}}
  {{#map.source options=(hash type='geojson' data=(mut this.markers)) as |source|}}
    {{source.layer layer=(hash
        type='circle'
        paint=(hash circle-color='#007cbf' circle-radius=10)
    )}}
    {{source.layer layer=(hash
        type='symbol'
        layout=(hash text-field=(array 'get' 'title')
        text-offset= (array 0 1.25) text-anchor='top')
    )}}
  {{/map.source}}
  {{#if this.showPopup}}
    {{#map.popup onClose=(action 'closePopup') lngLat=(array this.coordinates.lng this.coordinates.lat)}}
      <h4>Add Point</h4>
      <BsForm @formLayout="horizontal" @model={{this}} @onSubmit={{action "submit"}} as |form|>
        <form.element @controlType="name" @value={{(get this.pointFields.name)}} @label="Name" @placeholder="Name" @property="pointFields.name" />
        <form.submitButton>Add</form.submitButton>
        <BsButton @onClick={{action 'closePopup'}}>Cancel</BsButton>
      </BsForm>
    {{/map.popup}}
  {{/if}}

{{/mapbox-gl}}
<Points @points={{this.points}} @updatePoints={{this.updatePoints}} />
