{{page-title "ForgotPassword"}}
<form class="mt-4" {{on "submit" this.handleSubmit}}>
  {{#if this.successMessage}}
    <p class="text-success mb-2">{{this.successMessage}}</p>
  {{/if}}
  <div class="mb-3">
    <label class="form-label">Email address</label>
    <input type="email" class="form-control" value={{this.email}} {{on "input" this.updateEmail}} placeholder="Enter email address" />
  </div>
    
  <button type="submit" class="btn btn-primary">Submit</button>
  {{#if this.errorMessage}}
    <p class="text-danger mt-4">{{this.errorMessage}}</p>
  {{/if}}
</form>