{{page-title "Login"}}
  <form class="mt-4" {{on "submit" this.authenticate}}>
    <div class="mb-3">
      <label class="form-label">Email address</label>
      <input type="email" class="form-control" value={{this.identification}} {{on "change" this.updateIdentification}} />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" value={{this.password}} {{on "change" this.updatePassword}} />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    {{#if this.errorMessage}}
      <p class="text-danger mt-4">{{this.errorMessage}}</p>
    {{/if}}
  </form>