{{page-title "Register"}}
<form class="mt-4" {{on "submit" this.handleSubmit}}>
  {{#if this.successMessage}}
    <p class="text-success mb-2">{{this.successMessage}}</p>
  {{/if}}
  <div class="mb-3">
    <label class="form-label">Username</label>
    <input type="text" class="form-control" value={{this.username}} {{on "change" this.updateUsername}} />
  </div>
  <div class="mb-3">
    <label class="form-label">Email address</label>
    <input type="email" class="form-control" value={{this.email}} {{on "change" this.updateEmail}} />
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" value={{this.password}} {{on "change" this.updatePassword}} />
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" value={{this.password1}} {{on "change" this.updatePassword1}} />
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
  {{#if this.errorMessage}}
    <p class="text-danger mt-2">{{this.errorMessage}}</p>
  {{/if}}
</form>